body, p, li, a { font-family: georgia, times, serif;font-size:13pt;}
h1, h2, h3 { font-family: 'Scada', arial, serif; }
body { margin:0;padding:0;}
#hd {
	width : 100%;
	height : 87px;
	background-color : white;
	margin-top : 0;
	padding-top : 10px;
	border-bottom : 4px solid #EE3C0C;
	z-index : 0;
}
#ft {
    text-align: center;
	bottom : 0;
	width : 100%;
	height : 99px;
	background-color : rgb(0,117,159);
	color: white
	border-top : 1px solid #888;
	z-index : 0;
}
#ft a, a:visited, a:hover, a:active {
    color: white;
}

#logo,#bd {
	width : 900px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}
#logo h1 {
	color : rgb(0,117,159);
	font-size:36pt;
	display: inline;
}
#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 5px;
	margin-right : 5px;
}
body { margin-top : 0; padding-top : 0;}
#logo, #logo h1 { margin-top : 0; padding-top : 0;}
#bd {
	top : 75px;
	bottom : 75px;
	left : 50%;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}
a, a:visited, a:hover, a:active {
	color : #6493D2;
}
h2 {
	padding : 0; margin:0;
	font-size:36pt;
	color:rgb(0,117,159);
}
h3 {
	padding : 0; margin:0;
	font-size:24pt;
	color:#092E67;
}